
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile .img{
    width: 42px;
    height: 42px;
}

.profile .img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.profilemenu.remove{
    display: none;
}

.profilemenu{
    position: absolute;
    z-index: 1;
    top: -1.5rem;
    background-color: #fff;
    padding: 5px 15px;
    box-shadow:0 1px 4px rgba(0,0,0,0.06);
    right: 2rem;
}

.profilemenu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.profilemenu ul li{
    border-radius: 3px;
    padding: 10px 15px;
}

.profilemenu ul li:hover{
    background: #f5f7fa;
}


.profilemenu ul li a{
    display: block;
    text-decoration: none;
    color: #333;
}

.profilemenu ul li a i{
   margin-right: .8rem;
}

