body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login{
    background: #fff;
    padding: 3em 5em;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 1px 0;
    gap: 10px 0;
}

form input{
    padding: 8px;
    width: 230px;
    font-size: 15px;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #33333376;
    border-bottom: 2px solid #333;
}

form input:focus{
    border-color: #0077b6;
}

form .submit{
    border: 0;
    border-radius: 9px;
    width: 100px;
    background: #0077b6;
    color: #fff;
    margin-top: .8rem;
    margin-bottom: -1.5rem;
    cursor: pointer;
    padding: 10px;
    transition: all .3s;
}

form .submit:hover{
    background: #0280c4;
}

form a{
    font-size: 11px;
    color: #333;
    text-decoration: none;
}

form a span{
    text-decoration: underline;
}

form a span:hover{
    color: #0280c4;
}