body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register{
    padding: 1em 2em;
    background: #fff;
    border-radius: 15px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.register fieldset{
    margin-bottom: 20px;
    border-color: #333;
    border-width: 1.5px;
}

.register fieldset.first{
    margin-top: -10px;
}

.register input{
    outline: 0;
}

.register input[type="text"], input[type="email"]{
    border: 0;
    border-bottom: 1.5px solid #333;
}

.register input[type="text"]:focus, input[type="email"]:focus{
    border-color: #0077b6;
}

.register input[type="submit"], input[type="reset"]{
    padding: .5em 1.5em;
    border: 0;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.register input[type="submit"]{
    background: #0077b6;
}

.register input[type="submit"]:hover{
    background: #0280c4;
}

.register input[type="reset"]{
    background: rgba(232, 9, 9, 0.795);
}

.register input[type="reset"]:hover{
    background: rgba(249, 47, 47, 0.795);
}

.register input.adition{
    width: 20px;
    padding-left: 10.5px;
}

.register a{
    font-size: 11px;
    color: #333;
    text-decoration: none;
}

.register a span{
    text-decoration: underline;
    transition: all .3s;
}

.register a span:hover{
    color: #0077b6;
}