/* client/assets/style.css */
:root{--accent:#2b7a78;--bg:#f5f7fa}
*{box-sizing:border-box}
body{font-family:Arial,Helvetica,sans-serif;margin:0;background:var(--bg);color:#222}
.site-header{display:flex;justify-content:space-between;align-items:center;padding:2.5px 35px;background:#fff;box-shadow:0 1px 4px rgba(0,0,0,0.06);}
h1.font-effect-outline{color: #0077b6;}
header nav{display:flex; gap: 18px;}
nav a{text-decoration: none; color:#222; font-size: 18px;transition: all .2s;}
nav a:hover{color:#0077b6;}
.container{max-width:980px;margin:32px auto;padding:0 16px}
.hero{background:linear-gradient(90deg, #30769b,#017dc0);color:#fff;padding:32px;border-radius:8px;text-align:center;}
.hero p{margin-bottom: 2rem;}
.btn{background:#fff;color:#30769b;padding:10px 14px;border-radius:8px;text-decoration:none;font-weight: 500;transition: all .2s;}
.btn:hover{background-color: #ffffffee;color: #0077b6;}
.auth{max-width:400px;margin:32px auto;background:#fff;padding:16px 30px;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,0.06)}
form#loginForm{line-height: 35px;width: 100%;}
.auth label{margin-right: 1rem;}
.auth input{outline:none;width: 100%;height: 30px;padding: 0 10px;border:1px solid #222;border-radius: 6px;}
.auth input:focus{border-color:#0077b6}
button.btn{border: 0;box-shadow:0 1px 4px rgba(0,0,0,0.06);background: #0077b6;color: #fff;cursor: pointer;margin-top: 10px;padding: 10px 30px;}
button.btn:hover{color: #fff;background: #017dc0;}
.auth p{font-size: 14px;}
.auth p a{color: #222;transition: all .2s;}
.auth p a:hover{color: #0077b6;}
form#registerForm{line-height: 30px;width: 100%;}
select#role{outline: none;}
#jobsList .job{background:#fff;padding:14px;border-radius:8px;margin-bottom:12px;box-shadow:0 1px 4px rgba(0,0,0,0.04)}
